@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 50px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;
}

.nav-left .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo p {
    font-size: 20px;
    font-weight: 900;
    color: #f17228;
}

.logo p span {
    color: #ffb30e;
}

.nav-left .logo img {
    width: 20px;
}

.nav-center {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-center p {
    font-size: 20px;
    font-weight: 900;
    color: #000;
}

.nav-center span {
    color: grey;
    font-weight: 300;
}

.nav-center i {
    color: #ffb30e;
    font-size: 20px;
    margin-left: 8px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-right .search-box {
    position: relative;
}

.nav-right p i {
    color: #ffb30e;
    font-size: 20px;
}

.nav-right p {
    font-size: 20px;
    font-weight: 900;
    color: #000;
}

.nav-right button {
    background-color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffb30e;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 179, 14, 0.8);
}

.nav-right button:hover{
    background-color: #ffb30e;
    color: #fff;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    border: none;
    box-shadow: none;
}

/* search */

.search {
    background: linear-gradient(to right bottom, #fccd22 100%, #df793e 20%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 600px;
    width: 100%;
}

.search-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.search-left h1 {
    font-size: 60px;
    font-weight: 900;
    color: #fff;
    text-align: center;
}

.search-left p {
    font-size: 20px;
    font-weight: 300;
    color: grey;
    text-align: center;
}

.search-left,
.search-right {
    height: 50%;
    width: 40%;
}

.search-inp {
    height: 220px;
    background: #fff;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 25px;
}

.search-inp-top {
    display: flex;
    border-bottom: 1px solid #918e8e;
    align-items: center;
    height: 50%;
    gap: 20px;
}

.search-inp-top button {
    border: none;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: 800;
    border-radius: 6px;
    background: #fef1ea;
    color: #f17228;
}

.search-inp-top p {
    color: #757575;
    font-weight: 700;
    font-size: 18px;
}

.search-bottom{
    height: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.search-bottom input {
    width: 73%;
    padding: 12px 0px;
    padding-left: 40px;
    border: none;
    margin-right: 10px;
    background: #f5f5f5;
    border-radius: 5px;
}

.search-bottom i{
    position: absolute;
    padding: 10px 10px;
    color: #df793e;
}

.search-bottom input:focus {
    border: 1px solid #991a1a;
    background: #e7e6e4;
}

.search-bottom button {
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 5px;
    background: #f17228;
}

.search-bottom button:hover{
    background: #991a1a;
    color: #fff;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.search-right > img {
    position: absolute;
    bottom: 0;
}

/* flash item */

.flash-item{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 20px;
    margin: 30px auto;
    gap: 20px;
}

.flash-img img{
    width: 350px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.flash-img{
    position: relative;
}

.card-para {
    position: absolute;
    bottom: -1px;
    background: #fccd22;
    height: 55px;
    font-size: 40px;
    border-radius: 0px 20px 0px 10px;
    display: flex;
    align-items: center;
    color: #fff;
    margin: 5px 0px;
    padding: 0px 10px;
    padding-right: 30px;
}

.card-para span {
    font-size: 20px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin-left: 5px;

}

small{
    font-size: 15px;
    font-weight: 300;
    display: flex;
}

.flash-card h3{
    font-size: 20px;
    font-weight: 900;
    color: #424242;
    margin-bottom: 10px;
    padding: 10px 20px;
}

.flash-card button{
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 10px;
    color: #f17228;
    background: #fce3d4;
    margin-left: 5px;
}


.flash-card button:hover{
    background: #f17228;
    color: #fff;
    cursor: pointer;
}

/* work section */

.work-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#fff9ed, #fff);
}

.work-h1{
    color: #df793e;
    margin: 40px 0px;
}

/* .work-card-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: 100%;
} */

.work-card img {
    width: 80px;
    height: 100px;
}

.work-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 15px 20px;
    width: 70%;
}

.work-card h3{
    font-size: 20px;
    font-weight: 900;
    color: black;
    padding: 10px 20px;
    text-align: center;
}

.work-card p{
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    color: #918e8e;
    margin: 0 auto;
    word-wrap: wrap;
}

/* popular items */

.popular-h4{
    font-size: 28px;
    font-weight: 700;
    margin: 60px auto;
    text-align: center;
    word-wrap: wrap;
}

.popular-items{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.popular-card-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}

.popular-card h3{
    font-size: 22px;
    font-weight: 700;
}

.popular-card p{
    color: #ffb20e;
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
}

.popular-card button {
    padding: 15px 30px;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 10px;
    background: #f17228;
    width: 100%;
    box-shadow: 0px 0px 5px #f17228;
    margin-top: 10px;
}

.popular-card button:hover{
    background: #991a1a;
    color: #fff;
    transition: 0.5s ease-in-out;
    box-shadow: none;
}

/* featured cards */

.feature-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    width: 90%;
}

.feature-card{
    width: 300px;
    padding: 10px 0;
}

.feature-card-image{
    position: relative;
}

.feature-card-image > img{
    width: 100%;
    border-radius: 16px;
}

.sale-tag{
    width: 110px;
    background-color: #f17228;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    left: 10px;
    top: 10px;
}

.sale-tag > span{
    margin-left: 2px;
}

.fast-tag{
    left: 130px;
    background-color: #FFB30E;
    width: 90px;
}

.restaurant-details{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 15px;
}

.restaurant-details > div > img{
    width: 50px;
}

.restaurant-details > div > h4{
    font-size: 22px;
    font-weight: 700;
}

.rating{
    margin-top: 4px;
}

.restaurant-details > div > span{
    color: #FFB30E;
}

.btn-tomorrow {
    padding: 8px 16px 8px 16px;
    font-size: 18px;
    font-weight: 700;
    color: #f17228;
    border: none;
    border-radius: 10px;
    background: #F1722833;
    width: 60%;
    margin-top: 15px;
}

.btn-tomorrow:hover{
    background: #991a1a;
    color: #fff;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.btn-Now{
    padding: 8px 16px 8px 16px;
    font-size: 18px;
    font-weight: 700;
    color: #79B93C;
    border: none;
    border-radius: 10px;
    background: #79B93C33;
    width: 60%;
    margin-top: 15px;
}

.btn-Now:hover{
    background: #79B93C;
    color: #fff;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

/* search food */
.search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 60px auto;
    gap: 20px;
}
.search-heading{
    margin: 60px auto;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.search-img-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    margin-bottom: 60px;
}

.search-image > img{
    width: 80%;
    object-fit: cover;
    border-radius: 50%;
}

.search-image h3{
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding-right: 30px;
    margin-top: 10px;
}

/* install app */

.install-img {
    display: flex;
    align-items: center;
    gap: 15px;
}

.install-img img{
    width: 40%;
}

.install-img p{
    font-size: 20px;
    font-weight: 700;
    color: #f17228;
    margin-right: 10px;
}

.install-container {
    background: #feefd0;
    padding-top: 60px;
    background-image: url('./images/Curve.svg');
    background-repeat: no-repeat;
    background-position: bottom;
}

.install-top {
    background: #fff;
    border-radius: 30px;
    display: flex;
    width: 60%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    flex-wrap: wrap;
    gap: 15px;
}

.live-tracking {
    border-right: 1px solid #918e8e;
    border-left: 1px solid #918e8e;
    padding: 0px 40px;
}

.install-bottom{
    width: 60%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-top: 120px;
    gap: 80px;
}

.install-bottom img{
    width: 60%;
    margin-top: 20px;
}

.install-bottom-text p {
    font-size: 16px;
    color: #918e8e;
    font-weight: 400;
}

.install-bottom-text h1 {
    font-size: 38px;
    line-height: 50px;
    color: #ffa315;
    font-weight: 700;
}

.install-bottom-btn{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.install-bottom-btn button{
    display: flex;
    align-items: center;
    border: none;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0px 0px 7px #ffa315;
    padding: 10px 15px;
    height: 50px;
}


.install-bottom-btn button i{
    margin-right: 10px;
    font-size: 26px;
    color: #f17228;
}

.install-bottom-btn button:hover{
    background: #ffa315;
    color: #fff;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: none;
}

/* deals */

.deals-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 60px auto;
    gap: 20px;
}

.deals-card{
    display: flex;
    align-items: center;
    width: 80%;
    border-radius: 10px;
    margin: 40px 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    height: 350px;
}

.deals-card-left{
    width: 30%;
    padding: 40px;
}

.deals-card-left h1{
    font-size: 30px;
    font-weight: 700;
    color: black;
    margin-bottom: 10px;
    word-wrap: wrap;
}

.deals-card-left span{
    color: #f17228;
}

.deals-card-left p{
    font-size: 16px;
    font-weight: 400;
    color: #918e8e;
    margin-bottom: 10px;
    word-wrap: wrap;
}

.deals-card-left button{
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 10px;
    background: #f17228;
    margin-left: 5px;
    margin-top: 30px;
}

.deals-card-left button:hover{
    background: #991a1a;
    color: #fff;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.deals-card-right > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0px 10px 10px 0px;
    overflow: hidden;
}

.deals-card-right{
    width: 70%;
    height: 100%;
}

/* best deals */

.best-deals{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    position: relative;
}

.best-deals > img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
}

.best-deals-text{
    position: absolute;
    top: 60px;
}

.best-deals-text h2{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
    word-wrap: wrap;
}

.best-deals-text > div > button{
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 10px;
    background: #f17228;
    margin-left: 15px;
    margin-top: 30px;
}

.best-deals-text > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.best-deals-text > div > button:hover{
    background: #991a1a;
    color: #fff;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

/* media queries */

@media screen and (max-width: 1150px) {
    .nav-center p {
        font-size: 18px;
    }
    nav{
        width: 100%;
        flex-wrap: wrap;
    }
    .search-right img {
       overflow: hidden;
       width: 450px;
    }
    .search-left h1 {
        font-size: 50px;
    }
    .search-inp-top{
        margin-bottom: 5px;
        padding-bottom: 5px;
    }
    .search-bottom{
        margin-top: 10px;
    }
    .search-bottom input {
        width: 70%;
    }
    .search-bottom button{
        padding: 15px 20px;
        font-size: 12px;
    }
    .search-inp{
        height: 200px;
        padding: 30px 20px;
    }
    .install-img img{
        width: 50%;
    }
    .install-bottom img{
        width: 50%;
        height: 100%;
    }
    .install-bottom-text h1{
        font-size: 28px;
        font-weight: 700;
    }
    .install-bottom-text p{
        font-size: 14px;
        font-weight: 300;
    }
    .install-bottom-btn{
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        flex-direction: row;
        align-items: center;
    }
    .install-bottom-btn button{
        padding: 10px 15px;
        font-size: 16px;
        width: 50%;
    }
    .install-bottom-btn button i{
        font-size: 20px;
    }
    .deals-card-left h1{
        font-size: 24px;
    }
    .deals-card-left p{
        font-size: 14px;
    }
    .install-top{
        width: 80%;
    }
    .install-img > img{
        width: 50px;
    }
    .install-img p{
        font-size: 16px;
    }
}

@media  screen and (max-width: 1000px) {
    .nav-center p {
        display: none;
    }
    .search{
        flex-direction: column;
    }
    .search-left h1 {
        margin-top: 10px;
        font-size: 30px;
    }
    .search-left p {
        font-size: 16px;
    }
    .search-right > img{
        width: 300px;
        margin-left: 25px;
    }
    .popular-card-container{
        flex-direction: row;
    }
    .install-top {
        width: 100%;
    }
    .install-bottom img{
        width: 60%;
        height: 100%;
    }
    .install-bottom-btn button{
        width: 30%;
        text-align: center;
    }
    .install-bottom-btn button i{
        font-size: 14px;
    }
    .install-bottom-text h1{
        font-size: 24px;
        font-weight: 700;
        text-align: center;
    }
    .install-bottom-text p{
        font-size: 14px;
        font-weight: 300;
        text-align: center;
    }
    .install-bottom{
        flex-direction: column-reverse;
    }
    .install-bottom-btn{
        flex-direction: column;
        align-items: center;
    }
    .install-top{
        flex-direction: column;
        width: 50%;
    }
    .deals-card-left h1{
        font-size: 18px;
    }
    .deals-card-left p{
        font-size: 12px;
    }
    .deals-card-left button{
        font-size: 12px;
    }
    .deals-card-left button i{
        display: none;
    }
    .best-deals-text h2{
        font-size: 20px;
        text-align: center;
    }
    .best-deals-text > div > button{
        font-size: 12px;
    }
}

@media screen and (max-width: 690px) {
    .work-section{
        width: 100%;
    }
    .work-card > img{
        width: 50px;
        height: auto;
    }
    .work-card{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .work-card p{
        text-align: center;
        font-size: 16px;
        word-wrap: wrap;
    }
    .work-card h3{
        text-align: center;
        font-size: 18px;
    }
    .search-right > img{
        margin-left: -30px;
    }
    .search-inp{
        padding: 20px 20px;
        width: 300px;
        height: 400px;
    }
    .search-bottom {
        flex-direction: row;
    }
    .deals-card{
        width: 100%;
    }
    .deals-card-left{
        width: 100%;
        padding: 20px;
    }
    .best-deals-text{
        top: 10px;
    }
    .best-deals-text h2{
        font-size: 16px;
        text-align: center;
        word-wrap: wrap;
    }
    .best-deals-text > div > button{
        font-size: 10px;
        margin-top: 0px;
    }
    .install-bottom-btn button{
        width: 50%;
    }
    .install-bottom-btn button i{
        font-size: 12px;
    }
    .install-top {
        width: 60%;
    }
}


@media screen and (max-width: 380px) {
    .deals-card-left h1{
        font-size: 16px;
    }
    .deals-card-left{
        width: 50%;
    }
    .search{
        width: 100%;
    }
    .search-right > img{
        width: 250px;
    }
    .search-left h1 {
        font-size: 20px;
        padding-top: 20px;
    }
    .search-left p {
        font-size: 14px;
    }
    .nav-right p{
        display: none;
    }
    .nav-right button{
        padding: 10px 15px;
        font-size: 12px;
    }
    .nav-right .search-box{
        width: 100%;
    }
    .flash-img img{
        width: 300px;
    }
    .search-right > img{
        margin-left: -50px;
    }
    .install-img > img{
        width: 50px;
    }
    .install-img{
        width: 100%;
        flex-direction: column;
    }
    .install-img p{
        font-size: 14px;
        text-align: center;
    }
    .install-bottom img{
        width: 100%;
        height: 100%;
    }
    .best-deals-text > div > button{
      display: none;
    }
    .best-deals-text h2{
        font-size: 14px;
        text-align: center;
        word-wrap: wrap;
    }

}